@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


@font-face {
    font-family: 'hylia_serif_betaregular';
    src: url('/korok/fonts/hyliaserifbeta-regular-webfont.woff2') format('woff2'),
         url('/korok/fonts/hyliaserifbeta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #66645D   ;
    --secondary-color: #E2DED3 ;
    --accent1-color: #3CD3FC ;
    --accent2-color: #FFE460;
    --white-color: white;
    --green-color: #536F50;
    ---light-green: #92C582;
    --black-scrim: #000000;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'hylia_serif_betaregular';
    --paragraph-font: 'Roboto', sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;

}

header {
    font-size: 25px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-shadow: 1px 5px 5px var(--primary-color);
    display: grid;
    grid-template-columns:  auto;
}
#header-background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
    margin: 0 auto;
    box-shadow: 5px 5px 20px black;
    width: 1600px;
    background-color: var(--primary-color);
    height: 175px;
    padding-top: 10px;

}
.page-names, .page-names2 {
    display: flex;
    margin: 30px 10px 150px 20px;
    text-align: center;
    justify-content: center;
    align-items:center;
    padding: 20px;
    font-size: 30px;
    font-weight: lighter;
    color: var(--accent1-color);

}

.page-names:hover, .page-names2:hover, .index:hover {
    opacity: .7;
    transform: scale(1.1);
    color: var(--accent2-color);
}


.big-icon {
    display: grid;
    grid-template-columns: 175px ;
    grid-template-rows: 175px;
    background-color: var(--green-color);
    margin: 0 80px 60px 80px;
    text-align: center;
    justify-content: center;
    padding: 30px;
    font-size: 30px;
    font-weight: lighter;
    box-shadow: 5px 5px 20px black;
    
}


.icon {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px black;
}

/* #content {
    background-color: var(--secondary-color);
    width: 1600px;
    display: grid;
    grid-template-rows: repeat(auto-fit 1fr);
    margin: 0 auto;
    height: auto;
    
    
} */

.home-grid {
    background-color: var(--secondary-color);
    /* border: 2px solid #d1cec5 ; */
    width: 1600px;
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); */
    /* grid-template-rows: repeat(auto-fit 1fr); */
    text-align: center;
    margin: 0 auto;
    height: auto;
    padding-top: 100px; /* This is the padding for the top of the main grid */

    z-index: -10;
}







/* First Image Section */
#first_image_section {
    width: 1600px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(auto-fit 1fr);
    /* background-color: red; */
    padding-top: 200px;

}

#first_image {
    background-color: var(--accent1-color);
    grid-column: 2/5;
    grid-row: 2/5;
    height: 667px;
    width: 375px;
    box-shadow: 5px 5px 10px var(--black-scrim);
}

/* #first_image:hover {
    opacity: .9;
    transform: scale(1.05);
} */

#first_image_box {
    background-color: rgba(0, 0, 0, 60%);
    grid-column: 4/8;
    grid-row: 3/6;
    color: white;
    margin: 50px 50px 150px 150px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px var(--black-scrim);
}
/* #first_image_box:hover {
    opacity: .95;
    transform: scale(1.01);
} */

/* Second Image Section copied and moved from first image section*/
#second_image_section {
    width: 1600px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(auto-fit 1fr);
    /* background-color: red; */
    padding-top: 200px;
    margin: 0 auto;
    padding-bottom: 200px;
    
}

#second_image {
    background-color: var(--accent1-color);
    grid-column: 6/8;
    grid-row: 2/5;
    height: 667px;
    width: 375px;
    box-shadow: 5px 5px 10px var(--black-scrim);
    text-align: center;
    margin-left: 25px ;
}

/* #second_image:hover {
    opacity: .95;
    transform: scale(1.05);
} */

#second_image_box {
    background-color: rgba(0, 0, 0, 60%);
    grid-column: 2/6;
    grid-row: 3/6;
    color: white;
    margin: 50px 150px 150px 50px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px var(--black-scrim);
}

/* #second_image_box:hover {
    opacity: .9;
    transform: scale(1.01);
} */


#second_image_box:hover, #second_image:hover, #first_image_box:hover, 
#first_image:hover, #second_img:hover, #first_img:hover {
    opacity: .95;
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow:5px 5px 10px var(--black-scrim);
}

#second_top_heading {
    background-color: rgba(0, 0, 0, 60%);
    grid-column: 2/6;
    grid-row: 2/3;
    color: white;
    margin: 200px 250px 0px 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--black-scrim);
    font-size: 20px;
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
    font-weight: lighter;
}



.box_1_header {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    text-align: center;
    color: var(--accent2-color);
    font-family: var(--heading-font);
    font-weight: lighter;
    text-decoration: none;
    margin-top: 40px;
    font-size: 35px;
}
/* In Box Text */
p {
    text-align: center;
    margin: 25px 40px 25px 40px;
    color: white;
    font-family: var(--paragraph-font);
    font-size: 23px;
    font-weight:300;
}




div i {
    color: white;
    text-align: center;
}

section, i {
    color: white;
    text-align: center;
    vertical-align:baseline;
    
}





/* FOOTER */
footer h3 h1 {
    
    text-decoration: none;
    /* display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    max-width: 1600px; */
}

#footer_background {
    background-color: var(--primary-color);
    display: flex;
    height: 150px;
    color: var(--accent1-color);
    padding: 25px 0px 50px 0px;
    font-family: var(--paragraph-font);
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px var(--black-scrim);
    max-width: 1600px;
    margin: 0 auto;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
    margin: 10px;
    
}

.index {
    color: var(--accent1-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: lighter;
}


